.user-layout {
  height: 100vh;
  width: 100vw;
  overflow: auto;

  .ant-layout-content {
    min-height: auto;
  }

  .header {
    height: 125px;
    background-color: #ffffff;
    padding: 0;

    .top {
      height: 35px;
      line-height: 35px;
      background-color: #f3f3f3;

      .user-back-div {
        display: flex;
        justify-content: space-between;
      }
    }

    .bottom {
      color: #ffffff;
      height: 90px;
      line-height: 90px;
      background-color: #e5503c;

      .bottom-content {
        display: flex;
        height: 90px;
        line-height: 90px;
        justify-content: space-between;

        .logo {
          height: 90px;
        }

        .ant-menu-item {
          a {
            color: #ffffff;

            &:hover {
              color: #e5503c;
            }
          }
        }

        .ant-menu-item-selected {
          color: #ffffff;
        }
        .ant-menu-horizontal {
          color: #ffffff;
          height: 90px;
          line-height: 90px;
          background-color: #e5503c;

          &:hover {
            color: #ffffff;
          }
        }

        .ant-menu-item-active {
          background-color: #ffffff;
        }
      }
    }
  }

  .footer {
    color: #666666;
    background-color: #282828;
    height: 130px;

    .footer-div {
      display: flex;
      padding: 0 250px;
    }
    .logo {
      height: 90px;
    }

    .copy {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 20px 0;

      a {
        color: #666666;
        &:hover {
          color: #e5503c;
        }
      }
    }
  }
}
