.home {
  .home1 {
    overflow: hidden;
    display: flex;
    height: 450px;
    margin: 40px 0;
    background-color: #ffffff;

    .left {
      width: 400px;
      padding: 20px;

      .title {
        height: 40px;
        line-height: 40px;
        display: flex;
        justify-content: space-between;

        .title1 {
          font-size: 22px;
          font-weight: 600;
        }

        .title2 {
          font-size: 14px;
          color: #888888;
        }
      }

      .list {
        white-space: nowrap;
        overflow: hidden;
        line-height: 30px;
        padding: 0;

        .list-item {
          width: 300px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          a {
            color: #1b1b1b;

            &:hover {
              color: #ee5050;
            }
          }
        }
      }
    }

    .right {
      text-align: center;
      width: 800px;

      .ant-carousel {
        .slick-dots {
          button {
            background-color: #f50;
          }
        }
      }

      .carousel-image {
        margin: 0 auto;
        height: 450px;
      }
    }
  }

  .home2 {
    margin-bottom: 70px;
    height: 800px;
    background-color: #ffffff;
    padding: 20px;

    .list {
    }
  }
}
